/*classic.css*/
/*klassische Ansicht aus den 80er*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}


#titles {
    position: absolute;
    width: 1000px;
    height: 3500px;
    bottom: 30px;
    left: 270px;
    color: yellow;
    text-shadow: 0px 4px red;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(20deg);
}


#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}


#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 60s linear 1s infinite;
    animation-delay: 3s;
    animation-iteration-count: 1;
}


header {
    position: relative;
    top: 0;
    width: 1280px;
    height: 150px;
}


#logo {
    position: absolute;
    z-index: 3;
    width: 20%;
    margin-left: 50%;
    animation: fadeIn 10s;
}


#egg{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0px;
    right: 0px;
    background-color: transparent;
    display: block;
}


#flurry{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    width: 20%;
    top: 150px;
    right: 5px;
    animation: scrollEgg 15s linear ;
    animation-iteration-count: 1;
    pointer-events: none;
    display: none;
}


#arcade{
    position: fixed;
    z-index: 1;
    top: -5px;
    left: 410px;
    width: 700px;
    height: 950px;
    animation: flyIn 2s;
    background-color: black;
    display: none;
}


#center{
    width: 100%;
    height: 790px;
    position: relative;
}


#css_classic, #css_fsbwit{
    width: 50%;
    height: auto;
    opacity: 0.3;
}


#css_classic:hover, #css_fsbwit:hover{
    opacity: 1.0;
}


#design{
    position: absolute;
    z-index: 2;
    width: 595px;
    height: 460px;
    left: 460px;
    margin-top: 43px;
    animation-delay: 3s;
    animation: fadeIn 10s;
    display: none;
    background-color: transparent;
}

#link1 {
    display: inline-block;
    width: 35%;
    margin: 30% 0 0 4%;
    text-align: center;
}


#link2 {
    display: inline-block;
    width: 35%;
    margin: 0 0 0 20%;
    text-align: center;
}


#classic, #fsbwit{
    color: grey;
    font-size: 15px;
    font-family: monospace;
}


#classic:hover, #fsbwit:hover{
    color: yellow;
    text-shadow: 0px -2px red;
}


#classic:link, #fsbwit:link, .info{
    text-decoration: none;
}


#classic:visited, #fsbwit:visited, .info{
    text-decoration: none;
}


#start{
    position: absolute;
    width: 30%;
    z-index: 10;
    margin: 250px 0 0 550px;
    display: none;
}


#anleitung{
    width: 30%;
    position: absolute;
    left: 35%;
    color: yellow;
    text-shadow: 0px 2px red;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    animation: fadeIn 5s;
    display: none;
}


#credits{
    width: 30%;
    position: absolute;
    left: 35%;
    color: yellow;
    text-shadow: 0px 2px red;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 5s;
    display: none;
}


#club{
    width: 30%;
}


#hilfe{
    width: 30%;
    position: absolute;
    left: 35%;
    color: yellow;
    text-shadow: 0px 2px red;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 5s;
    display: none;

}


#fuck{
    width: 10%;
}


#gamecontainer{
    width: 100%;
    height: 750px;
    background-color: grey;
    display: none;
    animation: fadeIn 4s;
}


footer{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    border-top: solid 1px red;
    color: red;
}


.info{
    margin: 10px 20px ;
    font-size: 15px;
    font-weight: bold;
    color: red;
    opacity: 0.3;
}


.info:hover{
    color: grey;
    opacity: 1.0;
}


#mute{
    opacity: 0.3;
    margin: 5px 0 0 30%;
}

#mute:hover{
    opacity: 1.0;
}

/*KEY FRAMES für das Grundlayaout*/
@keyframes scroll{
    0% { top: 100%; }
    100% { top: -100%; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes scrollEgg{
    0% { right: -250px; }
    100% { right: 100%; }
}
@keyframes flyIn{
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1);}
}

@keyframes flyOut{
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0); }

}