/*classic.css*/
/*klassische Ansicht aus den 80er*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}


header {
    position: relative;
    top: 0;
    width: 100%;

}


#logo {
    width: 20%;
    margin: 0 0 0 40%;
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#center{
    width: 100%;
    position: relative;
}


#css_classic, #css_fsbwit{
    width: 50%;
    height: auto;
    opacity: 0.3;
}


#css_classic:hover, #css_fsbwit:hover{
    opacity: 1.0;
}


#design{

}

#link1 {
    display: inline-block;
    width: 10%;
    margin: 15% 0 0 34%;
    padding: 1%;
    text-align: center;
}


#link2 {
    display: inline-block;
    width: 10%;
    margin: 0 0 0 8%;
    padding: 1%;
    text-align: center;
}


#classic, #fsbwit{
    color: grey;
    font-size: 1vw;
    font-family: monospace;
}


#classic:hover, #fsbwit:hover{
    color: yellow;
    text-shadow: 0px -2px red;
}


#classic:link, #fsbwit:link, .info{
    text-decoration: none;
}


#classic:visited, #fsbwit:visited, .info{
    text-decoration: none;
}


footer{
    width: 100%;
    height: 2%;
    position: fixed;
    bottom: 0;
    border-top: solid 1px red;
    color: red;

}

#mute{
    opacity: 0.3;
    margin: 0 2% 0 30%;
}

#mute:hover{
    opacity: 1.0;
}


.info{
    margin: 2%;
    font-size: 1vw;
    color: red;
    opacity: 0.3;
}


.info:hover{
    color: grey;
    opacity: 1.0;
}


#titles {
    position: absolute;
    width: 50%;
    height: 320%;
    bottom: 2%;
    left: 25%;
    color: yellow;
    text-shadow: 0px 4px red;
    font-size: 2vw;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(20deg);
}


#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}


#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 60s linear 1s infinite;
    animation-delay: 3s;
    animation-iteration-count: 1;
}


@keyframes scroll{
    0% { top: 100%; }
    100% { top: -100%; }
}


