/**
 * Created by UFO on 03.2016.
 */
/*-------------------------------------------------------BROWSER-----------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
}


/*--------------------------------------------------------BODY-------------------------------------------------------*/
body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}


/*-------------------------------------------------------HEADER------------------------------------------------------*/
header{
    position: relative;
    width: 424px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}

/*-----LOGO-----*/
#logo{
    position: relative;
    left: 110px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


/*-------------------------------------------------------CENTER------------------------------------------------------*/
#center{
    width: 424px;
    height: 690px;
    margin-right: auto;
    margin-left: auto;
}


/*-----ARCADE LAYOUT-----*/
#layout{
    display: none;
}


/*-----SPIELFELD-----*/
#field{
    position: absolute;
    z-index: 3;
    top: 280px;
    margin-left: 220px;
    width: 700px;
    height: 400px;
    background-color: transparent;
    border: dotted 1px transparent;
    transform: rotate(90deg);
}

#canvasExp{
    position: absolute;
    top: 0;
    z-index: 30;
}


/*-----SPIEL INFORMATIONEN-----*/
#points{
    position: absolute;
    z-index: 3;
    top: 280px;
    margin-left: 0px;
    width: 190px;
    height: 400px;
    background-color: transparent;
    border: dotted 1px transparent;
    color: ghostwhite;
    transform: rotate(90deg);
}

.score{
    width: 20px;
    margin: 5px 30px;
    float: left;
    transform: rotate(90deg);
}


/*-----POPUPs-----*/
.popup{
    position: absolute;
    z-index: 4;
    top: 250px;
    margin-left: 0px;
    width: 700px;
    height: 400px;
    background-color: transparent;
    border: dotted 1px transparent;
    color: yellow;
    text-shadow: 0px -1px red ;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    display: none;
    transform: rotate(90deg);
}

.popup > p{
    margin: 50px 0px;
}

.popup td, .popup th{
    text-align: center;
    width: 300px;
    border-collapse: collapse;
}

.popup > a{
    position: absolute;
    top: 380px;
    left: 0px;
    color: yellow;
}

.popup > a:hover{
    color: red;
    text-shadow: none;
}


#club{
    width: 200px;
    margin: -100px 0 0 50px;
}

#fuck{
    position: absolute;
    top: 120px;
    left: 50px;
    width: 80px;
}


/*-----DESIGN CHOOSE-----*/
#choose{
    width: 424px;
    margin-left: 0px;
}

input{
    position: absolute;
    top: 350px;
    margin-left: 200px;
    border: dotted 1px transparent;
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 30px;
    text-shadow: 0px -1px red ;
    outline: 0 none;
    opacity: 0.6;
}

input::-webkit-input-placeholder{
    color: red;
    font-weight: bold;
    font-size: larger;
    text-shadow: none;
}

input:hover, input:checked{
    opacity: 1;
}

#design #choose{
    opacity: 0.6;
}

#classic,#fsbwit{
    position: absolute;
    top: 80px;
    margin-left: 385px;
    text-align: center;
    opacity: 0.4;
}

#fsbwit{
    margin-left: 270px;
}

#classic img, #fsbwit img{
    width: 70px;
}

#classic:hover, #fsbwit:hover{
    opacity: 1;
}

input[type=radio]{
    position: absolute;
    top: 75px;
    margin-left: -40px;
    text-align: center;
    opacity: 0.4;
    visibility: hidden;
}

.level{
    position: absolute;
    width: 80px;
    top: 80px;
    margin-left: 220px;
}

.level img{
    width: 70px;
    opacity: 0.5;
}

.level img:hover{
    opacity: 1;
}

#med{
    margin-left: 20px;
}

#hard{
    margin-left: 20px;
}


/*-----BUTTONs-----*/
.button{
    position: absolute;
    z-index: 11;
    top: 450px;
    margin-left: 500px;
    background-color: transparent;
    display: none;
}

.button  img{
    width: 300px;
}

#pause img {
    width: 200px;
    position: absolute;
    z-index: 11;
    top: 140px;
    margin-left: 400px;
}


/*-------------------------------------------------------FOOTER------------------------------------------------------*/

/*-----LAUFSCHRIFT-----*/
#titles {
    position: absolute;
    bottom:  32px;
    left: 20px;
    width: 380px;
    height: 2350px;
    color: yellow;
    text-shadow: 0px 4px red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(20deg);
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 150s linear 1s infinite;
    animation-delay: 2s;
    animation-iteration-count: 10;
}


/*-----RAHMEN über dem FOOTER-----*/
#border{
    position: relative;
    bottom: 0px;
    width: 100%;
    border-top: solid 2px red;
}


/*-----FOOTER-----*/
footer{
    position: relative;
    bottom: 0;
    width: 424px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}


/*-----MUTE BUTTON-----*/
#mute{
    position: relative;
    top: 5px;
    margin: 0 10px 0 20px;
    opacity: 0.3;
}

#mute:hover{
    opacity: 1;
}


/*-----LINKS-----*/
.info{
    margin: 10px 10px 5px 10px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    opacity: 0.3;
}

.info:hover{
    color: ghostwhite;
    opacity: 1.0;
}

#playername, #git {
    display: none;
}


/*-----Klassen für JS-----*/
.NoDisplay{
    display: none;
}

.fadeIn{
    animation: fadeIn 2s;
}

.fadeOut{
    animation: fadeOut 2s;
}

.anzeigen{
    display: block;
}


/*-----@KEYFRAMES-----*/
@keyframes scroll{
    0% { top: 100%; }
    100% { top: -100%; }
}

@keyframes egg{
    0%{ opacity: 0; left: 600px; }
    50%{ opacity: 1}
    100% { opacity: 0; left: -600px; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/*-----@FONTS-----*/